@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

:root {
    --dark: #343d3e;
    --light1: #ae9668;
    --light2: #e1e0d1;
}

.planet-container {
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5vw;
    padding: 5vh 5vw;
}

.card {
    width: 20vw;
}

.card-header {
    background-color: var(--light1);
}

.card-body {
    background-color: var(--light2);
}