<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <title>Star Wars Planets</title>
  </head>
  <body>
    <header>
      <div>
        <h1>STAR WARS</h1>
        <h2>Planet Info</h2>
      </div>
      {% if request.path != '/' %}
      <a href="./"
        ><button class="btn btn-outline-light">Return Home</button></a
      >
      {% endif %}
    </header>

    <div class="planet-container">
      {% for planet in planets %}
      <div class="card">
        <div class="card-header">{{ planet.name }}</div>

        <div class="card-body">
          <p>
            Day Length: {{ planet.format_number_for_display('day_length', '
            hours') }}
          </p>
          <p>
            Year Length: {{ planet.format_number_for_display('year_length', '
            days') }}
          </p>
          <p>
            Population: {{ planet.format_number_for_display('population') }}
          </p>

          <p class="inline">Climate:</p>
          {% for item in planet.climate %}
          <a href="./climate/{{item}}">{{ item }}</a>
          {% endfor %}

          <br />

          <p class="inline">Terrain:</p>
          {% for item in planet.terrain %}
          <a href="./terrain/{{item}}">{{ item }}</a>
          {% endfor %}

          <p>
            Surface water: {{ planet.format_number_for_display('surface_water',
            '%') }}
          </p>
          <p>Gravity: {{ planet.gravity }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
